<!DOCTYPE html>
<html lang="zh-CN">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="wb:webmaster" content="c5ea2956f5f51742" />
	<title>{%block title %} Weibo {%endblock %}</title>
	<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body>
	<div class="container">
	  <div class="header">
		<h3>Sina Weibo</h3>
		<hr/>
		<span class="alert alert-success">{{user.name}}</span>
		<a href="http://weibo.com/u/{{user.uid}}" target = "_blank"><button type="button" class="btn btn-success">进入微博主页</button></a>
	  </div>
	  <hr/>
	  {%block content %}
	  {%endblock %}
	</div>
  </body>
</html>
