<!DOCTYPE html>
<html lang="zh-CN">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>批量导入单词到扇贝</title>
	<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body>
	<div class="container">
	  <div class="header">
		<h3>shanbay</h3>
	  </div>
	  <hr/>
	  <div class="container">
		<button type="button" class="btn btn-success">通过扇贝登录</button>
		<hr/>
		<button type="button" class="btn btn-primary">导入生词文件到扇贝</button>
		<hr/>
		<b>只是一个Demo，正在申请shanbay开发者授权</b>
	  </div>
	</div>
  </body>
</html>
