<!DOCTYPE html>
<html lang="zh-CN">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="wb:webmaster" content="c5ea2956f5f51742" />
	<title>ligh</title>
	<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body>
	<div class="container">
	  <div class="header">
		<h3>Welcome!!</h3>
	  </div>
	  <hr/>
	  <div class="container">
		<a href="/weibo/login/"><button type="button" class="btn btn-success">Sina Weibo</button></a>
		<hr/>
		<a href="/shanbay/"><button type="button" class="btn btn-primary">Shanbay</button></a>
	  </div>
	</div>
  </body>
</html>
